.loop swiper-item {
  height: 340rpx;
}
.loop swiper-item image {
  width: 100%;
  height: 340rpx;
}
.cate {
  display: flex;
  height: 200rpx;
  align-items: center;
}
.cate .item {
  width: 25%;
}
.cate .item image {
  width: 100%;
  height: 148rpx;
}
.tower .title {
  width: 100%;
  height: 90rpx;
}
.tower .title image {
  width: 100%;
  height: 90rpx;
}
.tower .con {
  padding: 20rpx  16rpx;
  display: flex;
  justify-content: space-between;
}
.tower .con .left image {
  width: 232rpx;
  height: 388rpx;
}
.tower .con .right {
  margin-left: 10rpx;
  display: flex;
  flex-wrap: wrap;
}
.tower .con .right image {
  margin-right: 10rpx;
  border-radius: 10px;
  width: 223rpx;
  height: 190rpx;
}
